/* reverse mobile first
.grid-cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
  align-items: center;
  gap: 15px 0;
}

@media (max-width: 900px) {
  .grid-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
  }
}
@media (max-width: 600px) {
  .grid-cards {
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
  }
}
@media (max-width: 499px) {
  .grid-cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
} */

.grid-cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: space-evenly;
  gap: 15px 0;
}

@media (min-width: 500px) {
  .grid-cards {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 601px) {
  .grid-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
  }
}

.grid-flex {
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* NOT USED */
.layout-container {
  margin-bottom: 100px;
}
.notes-container {
  margin: 0 auto;
  max-width: 900px;
}

.notes-container > div {
  flex-grow: 1;
}

.grid-item-wrapper {
  display: flex;
  place-content: center;
}
