/* Alt is: max-width: x value, width: x(percent) : 
.container {
  max-width: 700px;
width: 90%
} */

.container {
  width: calc(100vw - 50px);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: calc(100vw - 100px);
  }
}

.editor {
  margin: 0 auto;
  max-width: 700px;
}

/* This works as alt since targeting .ck-editor__editable_inline doesn't work */
div[role='textbox'] {
  min-height: 200px !important;
}
.myb {
  margin-bottom: 1.5em;
}

.myt {
  margin-top: 1.5em;
}
