td {
  /* border style */
  border: 1px solid black;
  padding: 18px;
  text-align: center;
  /* background-color: #279f9f; */
  background-color: #58c1c1;
  background-color: #55c1c1;
  color: white;
}

table {
  width: 100%;
}
